.DS_Store
.iml
.gitignore
.idea/
.editorconfig
disconf/
nce-gateway-api/target/**
nce-gdashboard-backend/target/**
nce-gdashboard-frontend/dist/node_modules/**
nce-gdashboard-frontend/dist/src/assets/**
nce-gdashboard-frontend/tools/bower_components/**
nce-gdashboard-frontend/tools/node_modules/**
nce-gdashboard-backend/src/main/resources/public/
/nce-gateway-api/nce-gateway-api.iml
/nce-gdashboard-backend/nce-gdashboard-backend.iml
/nce-gdashboard-parent.iml
.project
.settings/
nce-gateway-api/.classpath
nce-gateway-api/.project
nce-gateway-api/.settings/
nce-gateway-api/bin/
nce-gdashboard-backend/.classpath
nce-gdashboard-backend/.project
nce-gdashboard-backend/.settings/
nce-gdashboard-backend/nce-gdashboard/
nce-gdashboard/logs/**
/gateway-portal/gateway-portal.iml
