<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="log.dir">${sys:log.dir:-./logs}</Property>
        <Property name="log.file.pattern">${sys:log.file.pattern:-%d{yyyy-MM-dd}}</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{logTraceUUID}] - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- info及以上级别日志-->
        <RollingRandomAccessFile name="infoLog"
                                 fileName="${log.dir}/catalina.log"
                                 filePattern="${log.dir}/catalina_${log.file.pattern}.log"
                                 filePermissions="rw-r--r--"
                                 append="true">
            <PatternLayout
                    pattern="${pattern}"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${log.dir}" maxDepth="2">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!-- error级别的日志信息 -->
        <RollingRandomAccessFile name="errorLog"
                                 fileName="${log.dir}/error.log"
                                 filePattern="${log.dir}/error_${log.file.pattern}.log"
                                 filePermissions="rw-r--r--"
                                 append="true">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${log.dir}" maxDepth="2">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!--Tracer Log-->
        <RollingRandomAccessFile name="fileTracerLog"
                                 fileName="${log.dir}/trace/trace.log"
                                 filePattern="${log.dir}/trace/trace_${log.file.pattern}.log"
                                 filePermissions="rw-r--r--"
                                 append="true">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${log.dir}/trace" maxDepth="2">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!--Success Log-->
        <RollingRandomAccessFile name="fileSuccessLog"
                                 fileName="${log.dir}/success/success.log"
                                 filePattern="${log.dir}/success/success_${log.file.pattern}.log"
                                 filePermissions="rw-r--r--"
                                 append="true">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT"
                                 onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${log.dir}/success" maxDepth="2">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!--Exception Log-->
        <RollingRandomAccessFile name="fileExceptionLog"
                                 fileName="${log.dir}/exception/exception.log"
                                 filePattern="${log.dir}/exception/exception_${log.file.pattern}.log"
                                 filePermissions="rw-r--r--"
                                 append="true">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT"
                                 onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${log.dir}/exception" maxDepth="2">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- AsyncRoot - 异步记录日志 - 需要LMAX Disruptor的支持 -->
        <AsyncRoot level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="errorLog"/>
        </AsyncRoot>
        <!--配置worker日志-->
        <AsyncLogger name="org.apache.camel.processor.interceptor.Tracer" level="info" additivity="false">
            <AppenderRef ref="fileTracerLog"/>
        </AsyncLogger>
        <AsyncLogger name="com.netease.cloud.nsf.processor.SuccessProcessor" level="info" additivity="false">
            <AppenderRef ref="fileSuccessLog"/>
        </AsyncLogger>
        <AsyncLogger name="com.netease.cloud.nsf.processor.ExceptionProcessor" level="info" additivity="false">
            <AppenderRef ref="fileExceptionLog"/>
        </AsyncLogger>
    </Loggers>
</Configuration>
